*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    height: 100%;
    width: 100%;
}

#left{
    position: relative;
    height: 100%;
    width: 40%;
}


#right{
    width: 60%;
    height:100%;
    background-color: antiquewhite;
}

#rtop{
    display: flex;
    width: 100%;
    height:50%;
    background-color: royalblue;
}
#rbottom{
    width: 100%;
    height:50%;
    background-image: url("https://plus.unsplash.com/premium_photo-1675011288421-21c7add02738?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url("https://plus.unsplash.com/premium_photo-1670512181061-e24282f7ee78?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

#rtopright{
    width: 45%;
    height:100%;
    background-image: url("https://plus.unsplash.com/premium_photo-1675667408018-3b64dbc55db1?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}



#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;

}

#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color:#000;
    font-weight: 500;
    font-size: 14px;
}

#lnavr{
    display: flex;
    align-items: center;
}

#left #textcenter{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#textcenter h1{
    font-size: 90px;
    font-weight: 900;
}


#textcenter p{
    opacity: .6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#textcenter a{
    text-align: none;
    color:#000;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}


@media (max-width:500px) {
    #main{
        flex-direction: column;
    }

    #main #left{
        width: 100%;
    }

    #main #right{
        width: 100%;
    }
    
}